@import "semantic-ui-css/semantic.min.css";

body {
    background: hsl(0, 0%, 32%);
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}
.container {
    position: relative;
    background-color: hsl(0, 0%, 16%);
    min-height: 500px;
    padding: 40px;
    border-radius: 10px;
    .refresh-news-btn {
        margin-bottom: 60px;
    }
    .refresh-comments-btn {
        margin-right: 40px;
        margin-bottom: 60px;
    }
}

.ui.card {
    font-size: 21px;
    max-width: 800px;
    background-color: hsl(213, 43%, 19%);
    > .content {
        .header {
            color: hsla(0, 0%, 100%, 0.9);
        }
        .meta {
            margin-top: 5px;
            margin-bottom: 30px;
            color: hsla(0, 0%, 100%, 0.7);
        }
        .description {
            color: hsla(0, 0%, 100%, 0.9);
            .card-url-wrap {
                margin-bottom: 30px;
                overflow-wrap: break-word;
                > .card-url {
                    color: hsl(180, 100%, 50%);
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
        &.extra {
            color: hsla(0, 0%, 100%, 0.7);
            border-top-color: rgba(255, 255, 255, 0.1) !important;
        }
    }
    .threaded.comments .comment .comments {
        margin-top: 16px;
        padding-top: 0;
        padding-bottom: 0;
        box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1);
    }
    .comments {
        max-width: none;
        .is-parent-comment {
            cursor: pointer;
            border-radius: 4px;
            transition: background-color cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
            &:hover {
                background-color: hsl(213, 43%, 10%);
            }
        }
        .comment {
            .content {
                padding: 10px;
            }
            .author {
                color: hsla(0, 0%, 100%, 0.7);
            }
            .metadata {
                color: hsla(0, 0%, 100%, 0.7);
            }
            .text {
                color: hsla(0, 0%, 100%, 0.7);
                a {
                    color: hsl(180, 100%, 50%);
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.list {
    .item {
        cursor: pointer;
        .content {
            margin-left: 20px;
        }
        .description,
        .author,
        .rating {
            margin-top: 10px;
        }
        .rating-count {
            vertical-align: middle;
        }
    }
}
